.title {
    text-align: center;
    font-size: 40px;
    color: yellow;
    background-color: red;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.recipes a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px;

    font-size: 20px;
    text-decoration: none;
    color: inherit;
}

.recipes img {
    width: 100%;
    height: auto;
    margin-top: 8px;
}